<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (tap)="menu('TemplateDrivenLoginPage')">Template Driven Form</button>
  <button ion-button (tap)="menu('DataDrivenLoginPage')">Data Driven Form</button>

</ion-content>
