<!--
  Generated template for the DataDrivenLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>data-driven-login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="user" (ngSubmit)="loginForm()">
  
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Passsord</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  
    <button ion-button type="submit" [disabled]="!user.valid" block>Login</button>
  </form>
</ion-content>
