<!--
  Generated template for the TemplateDrivenLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>template-driven-login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #formUser = "ngForm" (ngSubmit)="loginForm(formUser)">
  
<!-- Para ajustar o css, basta utilizar ionic css utilities -->
<!-- Para ajudar o não existir o autocomplete, basta acessar o ionic input -->
<!-- <p ngIf="!email.valid && email.touched">Email Invalido</p> -->

    <ion-item>
      <ion-label floating >Email</ion-label>
      <ion-input  type="email"  ngModel #email="ngModel" clearInput requered name="email" [(ngModel)]="formUser.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Passsord</ion-label>
      <ion-input type="password" ngModel #password="ngModel" clearInput requered name="password" [(ngModel)]='formUser.password'></ion-input>
    </ion-item>
  
    <button ion-button type="submit" block outline>Login</button>
  </form>


  <p>Este email é Válido: {{email.valid}}</p>

</ion-content>
